<p id="notice"><%= notice %></p>

<p><div class="todo_list_title"> 
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p></div>

<p><div class="todo_list_description">
  Description:
  <%= @todo_list.description %>

</p></div>

<div id="todo_items_wrapper">
  <%= render @items %>

  <div class="pagination">
    <%= will_paginate @items, :page_links => false %>
  </div>  

  <div id="form">
    <%= render "todo_items/form" %>
  </div>

  


</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
